<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div align="right">
            <button type="button" onclick="location.href='/'">Log out</button>
        </div>
        <h1 align="center" th:text="'Welcome to your home page, ' + ${user.name} + '!'"></h1>
        <table>
            <tr>
                <td><img th:src="${user.avatarUrl}" alt="Image not found" width="300" height="200"></td>
            </tr>
            <tr>
                <td><label th:text="${user.name} + ' ' + ${user.surname}"></label></td>
            </tr>
            <tr>
                <td>About: <label th:text="${user.about}"></label></td>
            </tr>
            <tr>
                <td>
                    <form action="#" th:action="@{/user/id={userId}/editProfile (userId=${user.id})}" method="get">
                        <button type="submit">Edit profile</button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/user/id={userId}/findUsers (userId=${user.id})}" method="get">
                        <button type="submit">Find users</button>
                    </form>
                </td>
            </tr>

        </table>


        <h3 align="center">Your publications</h3>
        <form action="#" th:action="@{/user/id={userId}/createPublication (userId=${user.id})}" method="get">
            <button type="submit">Create publication</button>
        </form>
        <table th:each="publication : ${publications}">
            <tr>
                <td>Title:</td>
            </tr>
            <tr>
                <td><label th:text="${publication.title}"></label></td>
            </tr>
            <tr>
                <td>Text:</td>
            </tr>
            <tr>
                <td><label th:text="${publication.content}"></label></td>
            </tr>
            <tr>
                <td><img th:src="${publication.pictureUrl}" alt="Image not found" width="450" height="300"></td>
            </tr>
            <tr>
                <td><label th:text="${publication.dateTime}"></label></td>
            </tr>
            <tr>
                <td>
                    <form action="#" th:action="@{/user/id={userId}/deletePublication/id={pubId}
                    (userId=${user.id}, pubId=${publication.id})}" method="get">
                        <button type="submit">Delete this publication</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
        </table>
    </body>
</html>