<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 align="center" th:text="'Page of user: ' + ${user.name} + ' ' + ${user.surname}"></h1>
        <table>
            <tr>
                <td><label th:text="${user.name} + ' ' + ${user.surname}"></label></td>
            </tr>
            <tr>
                <td>About: <label th:text="${user.about}"></label></td>
            </tr>
        </table>
        <form action="#" th:action="@{/user/id={userId} (userId=${userId})}" method="get">
            <button type="submit">Go to home page</button>
        </form>
        <h3 align="center" th:text="${user.name} + ' ' + ${user.surname} + '\'s ' + 'publications'"></h3>
        <table th:each="publication : ${publications}">
            <tr>
                <td>Title:</td>
            </tr>
            <tr>
                <td><label th:text="${publication.title}"></label></td>
            </tr>
            <tr>
                <td>Text:</td>
            </tr>
            <tr>
                <td><label th:text="${publication.content}"></label></td>
            </tr>
            <tr>
                <td><label th:text="${publication.dateTime}"></label></td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
        </table>
    </body>
</html>